@import 'vars';
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: 'latoblack', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

.product-box {
  @include centerFlex();
  gap: $gapGrid;
}


.product {
  width: 360px;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
  }

  &__content {
    background-color: #f8f8f8;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $colorText;
  }

  &__text {
    font-family: latolight, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;

  }

  &__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorSelectSite;
  }
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: $gapGrid;
}


.filter {
  padding: 13px 16px 16px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  &__content {
    background-color: #ffffff;
    padding: 0 16px 16px;


  }

  &[open] {
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

  }

  &[open] .filter__heading {
    color: $colorSelectSite;
  }

  &[open] path {
    fill: $colorSelectSite;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
  }

  &__heading {
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: $colorText;
  }

  &__item {
    margin-top: 16px;
  }

  &__link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;

    &:hover {
      color: $colorSelectSite;
    }
  }

  &__head {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $colorSelectSite;
  }

  &__item[open] .filter__head {
    color: $colorSelectSite;
  }
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;

  &__details {
    position: relative;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__check {
    display: flex;
    gap: 9px;
    align-items: center;
  }

  &__check {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
  }

  &__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 20px;
  }
}

.header {
  background-color: $backBlock;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &__left {
    display: flex;
    align-items: center;
    gap: 41px;
  }
}

#burger {
  position: absolute;
  left: -999999999px;
  visibility: hidden;

  &:checked ~ .nav {
    right: -$widthBurgerMenu;
  }
}

.box-content {
  overflow: hidden;
}

.nav {
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right .3s;
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
  }

}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #7d7987;
}

.breadcrumbs__link_site {
  font-weight: 700;
  color: $colorSelectSite;
}