.catalog__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
  }
  &:hover .add-box {
    display: flex;
  }
  &:hover .catalog-item__img {
    filter: brightness(30%);
  }
  &__link {
    width: 263px;
    display: block;
    text-decoration: none;
  }
  &__img {
    width: 100%;
  }
  &__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
}

.txt__box {
  padding: 20px;
  text-align: center;
}

.txt__header {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 17px;
}

.txt__description {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.add-box {
  position: absolute;
  top: 30%;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  &__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;
    &:hover {
      box-shadow: 0 0 10px 0 #fff;
    }
  }
  &__img {
    margin-right: 10px;
  }
  &__txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
}

.cart-items {
  margin-top: 20px;
}

.cart-items__content .cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item__name {
  flex-grow: 1;
}

.cart-item__remove {
  cursor: pointer;
  color: red;
}
