* {
  font-family: Arimo, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
}

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px);
}

/* header */
.heading__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading__logo {
  display: flex;
  align-items: center;
}
.heading_logo_text {
  color: rgb(242, 88, 34);
}

.menu__links {
  display: flex;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px;
}
.text1 {
  color: rgb(242, 88, 34);
}

/* Контент */
.content__block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

.content__text {
  display: flex;
  flex-direction: column;
}

.SEO_text {
  font-size: 60px;
  line-height: 69px;
}
.description_text {
  color: rgb(136, 136, 136);
  font-size: 20px;
  line-height: 23px;
  padding-block: 20px;
}
.content__buttons {
  display: flex;
  align-content: center;
}

.content_button {
  font-size: 15px;
  font-weight: 300;
  line-height: 3;
  width: 140px;
}
.content_button_left {
  border-radius: 50px;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  color: rgb(255, 255, 255);
}

.content_button_right {
  color: rgb(170, 170, 170);
  background: rgb(255, 255, 255);
}

/* Логотипы */
.logo__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 6%;

  background: rgb(255, 255, 255);
}
.logo_img {
  max-width: 10%;
  margin-block: 50px;
}

/* Стикеры */
.stickers__block {
  display: flex;
}

.sticker {
  display: flex;
  flex-direction: column;
}

.img_sticker,
.sticker_text1,
.sticker_text2,
.sticker_text3 {
  margin-block: 10px;
}

.img_sticker {
  max-width: 60px;
}

.sticker_text1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}

.sticker_text2 {
  color: rgb(102, 102, 102);
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

.sticker_text3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

/* Описание услуг */

.service__block{
  display: flex;
}
.vertical_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service__sticker{
  display: flex;
  flex-direction: column;
  align-items: center;
}