@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: $colorText;
}


.container {
  &_size {
    width: $widthSite;
    margin: 0 auto;
  }

}


//region header
.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;

  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;

    &_position {
      gap: 20px;
    }
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__text {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #3e3e40;

  }

  &_select-color {
    color: $selectColor;
  }
}

.header-form {
  display: flex;
}

.button-site {
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;

  &:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }
}


//endregion

//region menu
.menu {

  //region Элемент
  &__item {
    position: relative;

    &:hover .mega-box {
      display: flex;
    }

  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  //endregion

  //region Модификатор
  &_position {
    display: flex;
    list-style-type: none; //убирает toggle маркер
    justify-content: center;
  }

  //endregion
}

.mega-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: auto;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 33px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }


  &__heading {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;

  }


  &__link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
  }
}

//endregion

//region breadcrumbs
.top-head {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__heading {
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $selectColor;
  }
}

.breadcrumbs {
  &__ul {
    list-style-type: none;
    display: flex;

  }

  &__li:not(:last-child):after {
    content: "/";
    padding-inline: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  &__li:last-child .breadcrumbs__link {
    font-weight: 700;
    color: $selectColor;
  }

  &__link:hover {
    color: $selectColor;
  }

  &__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
}

//endregion

//region banner
.banner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 500px;


  &-block {
    height: 777px;
    background-color: #f7f7f7;

  }

  &_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.banner-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;

  &__header {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  &__p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
  }

}

.banner__img {
  height: 590px;

  &_size {

    height: 100%;
  }
}


//endregion

//region product card
.description-card {

  text-align: center;
  width: 1141px;
  height: 500px;
  position: absolute;
  top: 790px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;


  &__button {
    padding: 10px;
    cursor: pointer;
    color: $selectColor;
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid $selectColor;
  }

}

.product-text {
  width: 60%;
  margin-top: 50px;

  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_select-color {
    color: $selectColor;
  }

  &__header {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid $selectColor;
  }


  &__name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
  }

  &__description {
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
  }

  &__option {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;

    &_first-color {
      color: #b9b9b9;
    }

    &_last-color {
      color: #2f2f2f;
    }

  }

  &____price {
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
  }


}

.choose {
  display: flex;
  justify-content: center;
  gap: 30px;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }

  & label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
  }
}


//endregion

//region catalog


.txt-box {
  padding: 20px;

  &__description {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
  }

}

.item-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.catalog-item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;

  &__link {
    width: 263px;
    display: block;
    text-decoration: none;
  }


  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover .add-box {
    display: flex;
  }

  &__img {
    width: 100%;
  }

  &:hover .catalog-item__img {
    filter: brightness(30%);
  }

  &__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;

  &__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;

    &:hover {
      box-shadow: 0 0 10px 0 #fff;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
}

//endregion

/*region subscribe*/
.subscribe {
  gap: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;

  background-image: url("../img/subscribe/background.svg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  text-align: center;

  color: rgb(34, 34, 36);

  font-weight: 400;

  .recall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30vw;
    gap: 20px;

    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    &-img {
      max-width: 5vw;
      border-radius: 50%;
    }
  }

  .subscribe_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    .subscribe-header {
      font-weight: 700;
      font-size: 24px;
    }

    .subscribe__text {
      margin: 20px;
    }

    .subscribe__button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .input-button {
        padding: 10px;
        border: none;
        border-radius: 20px 0 0 20px;
        background: rgb(225, 225, 225);
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 0 20px 20px 0;
        background: $selectColor;
        color: white;
        cursor: pointer;

      }
    }


  }
}

/*endregion*/

//region footer
.footer-block {
  display: flex;
  justify-content: space-around;
  margin-block: 50px;
}

.footer-navigation {
  display: flex;
  gap: 100px;
}

.info-map {

  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    width: 500px;
  }
}

.footer-menu {
  &__heading {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $selectColor;
  }

  .footer-menu__item {
    display: block;
  }

  .footer-menu__link {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
  }
}


.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;


  height: 79px;
  background-color: #e6e6e6;

  &__text {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
  }
}

//endregion

