@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: $colorText;
}


.container {
  &_size {
    width: $widthSite;
    margin: 0 auto;
  }
}

.logo {
  &__link {
    &_text-style {
      font-size: 27px;
      line-height: 32px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: #3e3e40;
    }

  }

  &_select-color {
    color: $selectColor;
  }
}


.menu {

  //region Элемент
  &__item {
    position: relative;

    &:hover .mega-box {
      display: flex;
    }

  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  //endregion

  //region Модификатор
  &_position {
    display: flex;
    list-style-type: none; //убирает toggle маркер
    justify-content: center;
  }

  //endregion
}

.mega-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: auto;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 33px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }

  &__item {

  }

  &__heading {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;

  }


  &__link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
  }
}

/*region subscribe*/
.subscribe {
  gap: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;

  background-image: url("../img/subscribe/background.svg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  text-align: center;

  color: rgb(34, 34, 36);

  font-weight: 400;

  .recall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30vw;
    gap: 20px;

    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    &-img {
      max-width: 5vw;
      border-radius: 50%;
    }
  }

  .subscribe_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    .subscribe-header {
      font-weight: 700;
      font-size: 24px;
    }

    .subscribe__text {
      margin: 20px;
    }

    .subscribe__button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .input-button {
        padding: 10px;
        border: none;
        border-radius: 20px 0 0 20px;
        background: rgb(225, 225, 225);
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 0 20px 20px 0;
        background: $selectColor;
        color: white;
        cursor: pointer;

      }
    }


  }
}

/*endregion*/

.footer-block {
  display: flex;
  justify-content: space-around;
}

.footer-navigation {
  display: flex;
  gap: 100px;
}

.info-map {

  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    width: 500px;
  }
}

.footer-menu {
  &__heading {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $selectColor;
  }

  .footer-menu__item {
    display: block;
  }

  .footer-menu__link {
    font-size: 16px;
    line-height: 59px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
  }
}


.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;


  height: 79px;
  background-color: #e6e6e6;

  &__text {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
  }
}

