/* Смартфон */
@media (max-width: 320px) {
  * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  head {
    display: none;
  }
  body {
    width: 90%;
    align-items: center;
  }

  a {
    font-size: 14px;
  }

  .header {
    margin-top: 5%;
    gap: 10px;

    padding: 0px;
  }

  .content__block {
    flex-direction: column;
  }

  .content__text {
    align-content: center;
    text-align: center;
  }

  .text1 {
    font-size: 14px;
  }
  .title {
    font-size: 28px;
  }
  .text2 {
    font-size: 18px;
  }
  .buttons {
    margin: 0px;
    justify-content: center;
    gap: 10px;
  }
  .button_text {
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: unset;
  }

  .logo__block {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 90%;
  }

  .logo1 {
    justify-self: right;
  }

  .logo3 {
    justify-self: center;
  }

  .grade__block {
    display: grid;
    border-radius: 10px;
    grid-template: 1fr 1fr 1fr/ 1fr;
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
  }

  .block {
    gap: 20px;
  }

  .block4,
  .block5,
  .block6 {
    display: none;
  }

  .footer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: 10%;
  }

  .footer1,
  .footer2,
  .footer3 {
    width: 80%;
  }
  .img {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .img1,
  .brain {
    width: 100%;
  }

  .title {
    color: var(--ffffff, #fff);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer1,
  .footer2,
  .footer3 {
    display: flex;
    flex-direction: column;
  }

  .footer1 {
    order: 1;
    align-items: flex-start;
  }
  .footer3 {
    order: 2;
  }

  .img-footer {
    width: 1em;
  }

  .text7 {
    justify-content: left;
  }

  .text8 {
    justify-content: center;
  }
}
