//region catalog

.catalog {

  &__product {
    display: flex;
    gap: 20px;
  }
}

//region details

.catalog-details {
  width: 250px;
  margin-block: 20px;

  &[open] &__summary {
    color: $selectColor;
  }

  &[open] &__summary::after {
    content: '\25B2';
  }

  &__summary {
    border-left: 5px solid $selectColor;
    border-bottom: 1px solid #ebebeb;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;

    padding-left: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: '\25BC'; /* Юникод символ треугольника */
      font-size: 14px;
    }

    &:hover {
      color: $selectColor;
    }

  }

  &__ul {
    list-style-type: none;

  }

  &__link {
    display: block;
    margin: 10px;

    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;

    &:hover {
      color: $selectColor;
    }
  }
}

//endregion

.txt-box {
  padding: 20px;
  text-align: center;


  &__header {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 17px;
  }

  &__description {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
  }

}

.catalog-filter {
  display: flex;
  justify-content: space-between;


  color: #6f6e6e;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    gap: 10px;
  }

  &__header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

  }

  &__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;

    &:not(:last-child) {
      border-right: 1px solid #6f6e6e;
    }
  }
}

.catalog-box {
  display: grid;

  &__single-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.catalog-item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;

  &__link {
    width: 263px;
    display: block;
    text-decoration: none;
  }


  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover .add-box {
    display: flex;
  }

  &__img {
    width: 100%;
  }

  &:hover .catalog-item__img {
    filter: brightness(30%);
  }

  &__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;

  &__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;

    &:hover {
      box-shadow: 0 0 10px 0 #fff;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
}

.catalog-button {
  place-self: center;
  grid-column: 1/5;
  width: 212px;
  height: 42px;
  background-color: transparent;
  border: 1px solid $selectColor;
  cursor: pointer;
}

//endregion