@import "vars";
@import "mixins";

//region *
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: $colorText;
}


.container {

  width: $widthSite;
  margin: 0 auto;
}

//endregion

//region header
.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;

  &_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__item {
    display: flex;
    align-items: center;

    &_position {
      gap: 20px;
    }
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__text {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #3e3e40;

  }

  &_select-color {
    color: $selectColor;
  }
}

.header-form {
  display: flex;
}

.button-site {
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;

  &:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }
}

//region menu
.navigation {
  border-top: 1px solid #ececec;
  height: 60px;
}

.menu {
  display: flex;
  list-style-type: none; //убирает toggle маркер
  justify-content: center;

  &__item {
    position: relative;

    &:hover .mega-box {
      display: flex;
    }

    &__last:hover .mega-box {
      right: 0;
      left: auto;
    }

    &__last:hover .mega-box::before {
      right: 50px;
      left: auto;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__link:hover {
    border-bottom: 1px solid $selectColor;
    color: $selectColor;
  }


}

.mega-box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: auto;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 33px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }


  &__heading {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;

  }


  &__link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
  }

  &__link:hover {
    color: $selectColor;
  }


}

//endregion

//region breadcrumbs
.top-head {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__heading {
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $selectColor;
  }
}

.breadcrumbs {
  &__ul {
    list-style-type: none;
    display: flex;

  }

  &__li:not(:last-child):after {
    content: "/";
    padding-inline: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  &__li:last-child .breadcrumbs__link {
    font-weight: 700;
    color: $selectColor;
  }

  &__link:hover {
    color: $selectColor;
  }

  &__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
}

//endregion
//endregion

/*region banner*/
.banner {


  &__index {
    @include centerFlex;
    justify-content: start;

    background-color: #e8e8e8;
    background-image: url('../img/banner/smile_man.jpg');

    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    height: 665px;
  }
}

.banner__text {
  display: flex;
  margin-left: 10%;
  gap: 10px;
  text-align: left;

  min-font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

.banner_rectangle {
  min-width: 12px;
  background: $selectColor;
}

/*endregion*/

//region carousel
.carousel {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 500px;


  &-block {
    height: 777px;
    background-color: #f7f7f7;

  }

  &_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.carousel-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;

  &__header {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  &__p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
  }

}

.carousel__img {
  height: 590px;

  &_size {

    height: 100%;
  }
}

//endregion

//region product card
.description-card {
  text-align: center;
  width: 1141px;
  height: 500px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  transform: translate(0, -50px);

  &__button {
    padding: 10px;
    cursor: pointer;
    color: $selectColor;
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid $selectColor;
  }

}

.product-text {
  width: 60%;
  margin-top: 50px;

  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_select-color {
    color: $selectColor;
  }

  &__header {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    border-bottom: 1px solid $selectColor;
  }


  &__name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
  }

  &__description {
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
  }

  &__option {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 20px;

    &_first-color {
      color: #b9b9b9;
    }

    &_last-color {
      color: #2f2f2f;
    }

  }

  &____price {
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
  }


}

.choose {
  display: flex;
  justify-content: center;
  gap: 30px;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }

  & label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
  }
}


//endregion

/*region offer*/
.offer {
  display: grid;
  grid-template:
    "men women" 1fr
    "accessories kids" 1fr  / 1fr 1fr;

  gap: 20px;
  margin-block: 5%;

  .image-container {
    position: relative;
    min-width: 100%;
    overflow: hidden;

    .img {
      width: 100%;
    }

    .background_block {
      min-width: min-content;
      height: max-content;
      background: #F8F3F4;
    }

    .image-text {
      position: absolute;
      top: 10%;;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.025em;

    }
  }

  .image-container1 {
    grid-area: men;
  }

  .image-container2 {
    grid-area: women;
  }

  .image-container4 {
    grid-area: accessories;
  }

  .image-container4 {
    grid-area: kids;
  }
}

/*endregion*/

//region catalog

.catalog {

  &__product {
    display: flex;
    gap: 20px;
  }
}

//region details

.catalog-details {
  width: 250px;
  margin-block: 20px;

  &[open] &__summary {
    color: $selectColor;
  }

  &[open] &__summary::after {
    content: '\25B2';
  }

  &__summary {
    border-left: 5px solid $selectColor;
    border-bottom: 1px solid #ebebeb;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;

    padding-left: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: '\25BC'; /* Юникод символ треугольника */
      font-size: 14px;
    }

    &:hover {
      color: $selectColor;
    }

  }

  &__ul {
    list-style-type: none;

  }

  &__link {
    display: block;
    margin: 10px;

    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;

    &:hover {
      color: $selectColor;
    }
  }
}

//endregion

.txt-box {
  padding: 20px;
  text-align: center;


  &__header {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 17px;
  }

  &__description {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
  }

}

.catalog-filter {
  display: flex;
  justify-content: space-between;


  color: #6f6e6e;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    gap: 10px;
  }

  &__header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

  }

  &__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;

    &:not(:last-child) {
      border-right: 1px solid #6f6e6e;
    }
  }
}

.catalog-box {
  display: grid;

  &__single-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.catalog-item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;

  &__link {
    width: 263px;
    display: block;
    text-decoration: none;
  }


  &:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover .add-box {
    display: flex;
  }

  &__img {
    width: 100%;
  }

  &:hover .catalog-item__img {
    filter: brightness(30%);
  }

  &__price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
  }
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;

  &__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;

    &:hover {
      box-shadow: 0 0 10px 0 #fff;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__txt {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
  }
}

.catalog-button {
  place-self: center;
  grid-column: 1/5;
  width: 212px;
  height: 42px;
  background-color: transparent;
  border: 1px solid $selectColor;
  cursor: pointer;
}

//endregion

//region cart

.cart-box {
  display: block;
  margin-block: 30px;;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
}

.txt-box-cart {
  padding: 20px;
  text-align: left;


  &__header {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 17px;
  }

  &__description {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
  }

}

.cart-button {
  place-self: center;
  grid-column: 1/5;
  background-color: transparent;
  cursor: pointer;


  border: 1px solid #eaeaea;
  margin-block: 10px;

  &_button-1 {
    width: 235px;
    height: 50px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  &_button-2 {
    width: 100px;
    height: 35px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  &_button-3 {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    place-self: center;
  }

  &_space-between {
    display: flex;
    justify-content: space-between;
  }
}

.cart-choice-box {
  display: flex;

  &__item {
    width: 400px;
    display: block;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;

    width: 360px;
    height: 200px;
    background-color: #f5f3f3;

    .txt-box-car-figure {
      border-bottom: 1px solid #e2e2e2;
      padding-right: 50px;
    }
  }

  &__input {
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;

    margin-bottom: 10px;
  }
}

//endregion


//region checkout
.checkout-box {
  display: block;
}

.checkout-menu {


}

.checkout-menu:not(:last-of-type) {
  border-bottom: 1px solid #e8e8e8;
}

.checkout-summary {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.checkout-txt {
  &__header {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
  }

  &__description {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
  }
}

.checkout-button {
  place-self: center;
  grid-column: 1/5;
  background-color: transparent;
  cursor: pointer;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;

  width: 180px;
  height: 50px;

  border: 1px solid #eaeaea;
}

//endregion

/*region privileges*/
.privileges {
  display: flex;
  justify-content: right;
  align-items: center;

  background: rgb(34, 34, 36);
  min-height: 341px;
  margin-top: 5%;

  &-img {
    width: 100%;
    height: 500px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &-box {
    &_column {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 800px;
      margin: 50px;
    }
  }


  &-card {
    width: 400px;
  }

  &-text {
    display: block;
    color: rgb(251, 251, 251);
    font-weight: 400;

    &__header {
      font-size: 19.96px;
      line-height: 23px;
    }

    &__description {
      font-size: 13.97px;
      line-height: 16px;
    }
  }
}


/*endregion*/

//region footer

/*region subscribe*/
.subscribe {
  gap: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;

  background-image: url("../img/subscribe/background.svg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  text-align: center;

  color: rgb(34, 34, 36);

  font-weight: 400;

  .recall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30vw;
    gap: 20px;

    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    &-img {
      max-width: 5vw;
      border-radius: 50%;
    }
  }

  .subscribe_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    .subscribe-header {
      font-weight: 700;
      font-size: 24px;
    }

    .subscribe__text {
      margin: 20px;
    }

    .subscribe__button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .input-button {
        padding: 10px;
        border: none;
        border-radius: 20px 0 0 20px;
        background: rgb(225, 225, 225);
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 0 20px 20px 0;
        background: $selectColor;
        color: white;
        cursor: pointer;

      }
    }


  }
}

/*endregion*/

/*region subscribe*/

.subscribe {
  gap: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;

  background-image: url("../img/subscribe/background.svg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  text-align: center;

  color: rgb(34, 34, 36);

  font-weight: 400;

  .recall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30vw;
    gap: 20px;

    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    &-img {
      max-width: 5vw;
      border-radius: 50%;
    }
  }

  .subscribe_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    .subscribe-header {
      font-weight: 700;
      font-size: 24px;
    }

    .subscribe__text {
      margin: 20px;
    }

    .subscribe__button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .input-button {
        padding: 10px;
        border: none;
        border-radius: 20px 0 0 20px;
        background: rgb(225, 225, 225);
      }

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 0 20px 20px 0;
        background: $selectColor;
        color: white;
        cursor: pointer;

      }
    }


  }
}

/*endregion*/

.footer-block {
  display: flex;
  justify-content: space-around;
  margin-block: 50px;
}

.footer-navigation {
  display: flex;
  gap: 100px;
}

.info-map {

  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    width: 500px;
  }
}

.footer-menu {
  &__heading {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $selectColor;
  }

  &__item {
    display: block;
  }

  &__link {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
  }

  &__link:hover {
    color: $selectColor;
  }
}


.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;


  height: 79px;
  background-color: #e6e6e6;

  &__text {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
  }

  &__link:hover g path {
    fill: $selectColor;
  }
}

//endregion

