* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1600px;
  margin: auto;
  width: 80%;

  background: var(--020-a-18, #020a18);
}

a {
  color: var(--ffffff, #fff);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  gap: 30px;
  width: 100%;
}

.top__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.left__top__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 80%;
}
.left__top__container1 {
  align-items: start;
}

.text_top {
  color: var(--3-a-68-b-8, #3a68b8);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin: 20px 0;
}

.title {
  color: var(--ffffff, #fff);
  font-family: "Open Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 71.5px */
}

.text_bottom {
  color: var(--ffffff, #fff);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  margin: 30px 0px;
}
.buttons__container {
  margin-top: 40px;
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}
.play_img {
  width: 26px;
  height: 27px;
  fill: var(--ffffff, #fff);
}

.text_button {
  color: var(--ffffff, #fff);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  height: 60px;

  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);

  margin-right: 5px;
}

.img {
  display: flex;
  justify-items: center;
  width: 50%;
}
.brain{
  width: 90%;
}

.top__logo__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.logo_smth {
  height: 60px;

}
